## Judul Analitik Visualisasi Data Chocolate-Sales
## Muhammad Syawal Samir
## NIm 2509116079

## IMPORT LIBARY

In [ ]:
import pandas as pd

## Memuat Dataset

In [ ]:
file = "/content/Chocolate Sales (2).csv"

df = pd.read_csv(file)

df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

In [ ]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

## Business Objective

jadi permasalahnya format data yang belum siap untuk dianalisis sehingga penjualan masih ditulis menggunakan simbol mata uang dan tanda koma sehingga terbaca sebagai teks bukan angka,akibatnya data tersebut tidak bisa langsung digunakan terus dari segi bisnisnya itu terlihat adanya perbedaan yang cukup besar dalam jumlah pengiriman.hal ini menunjukkan ketidakseimbangan jenis pelanggan atau strategis distibusi yang belum merata jadi secara data belum sepenuhnya bersih untuk dianalisis dan terdapat ketimpangan penjuala yang perlu diteliti lebih lanjut agar perusahaan choclate-sales ini dapat mengambil keputusan yang lebih tepat

## Assess Situation

Pada situasi ini dilakukan penilaian awal terhadap kondisi dataset yang digunakan.dataset chocolate sales berisi ribuan catatan tranksaksi penjualan produk cokelat di beberapa negara,dengan variabel utama eperti tanggal tranksaksi nama sales,negara tujuan,produk,jumlah box yang dikirim,serta total nilai penjualan.

Pertama:dari sisi kualitas data,kolom  nilai penjualan masih mengandung simbol mata uang dan tanda pemisah ribuan sehingga terbaca sebagai teks.hal ini menjadi kendala karena tidak dapat lanngsung dihitung.

kedua:jumlah pengiriman yang sangat besar antara satu tranksaksi dengan tranksaksi lainnya.beberapa tranksaksi lainnya.beberapa hanya mencatat pengiriman dalam jumlah kecil,sementara itu yang lain mencapai ratusan box.

## Analytic Goals

pada tahap ini ditentukan tujuan analis yang akan dilakukan untuk mengatasi berbagai tantangan yang didenfikasi pada tahap assess situasion.mengingat dataset chocolate sales memliki permsalahan pada kualitas format data serta potensi ketimpangan distribusi penjualan,maka analis difokuskan pada perbaikan struktur data sekaligus ekspolasi kinerja bisnis.

tujuan pertama adalah melakukan pembersihan dan transformasi data agar siap dianalisis. Kolom nilai penjualan akan dikonversi menjadi format numerik dengan menghapus simbol mata uang, sedangkan kolom tanggal akan diubah ke dalam format datetime agar dapat digunakan untuk analisis berbasis waktu. Langkah ini penting untuk memastikan hasil analisis akurat dan dapat dipercaya.

tujuan kedua adalah menganalisis kinerja penjualan secara menyeluruh. Hal ini meliputi perhitungan total pendapatan, rata-rata penjualan per transaksi, serta identifikasi produk yang paling banyak terjual. Dengan analisis ini, perusahaan dapat mengetahui produk mana yang memberikan kontribusi terbesar terhadap pendapatan.

## Project Plan

Pada tahap ini disusun rencana kerja yang akan dilakukan untuk mengolah dan menganalisis dataset Chocolate Sales secara sistematis dan terstruktur. Perencanaan ini bertujuan agar proses analisis berjalan efektif serta mampu menjawab tujuan analitik yang telah ditetapkan sebelumnya.

Langkah pertama adalah memahami data data understanding. Pada tahap ini dilakukan pemeriksaan struktur dataset, jumlah baris dan kolom, tipe data setiap variabel, serta identifikasi kemungkinan adanya nilai yang tidak sesuai format. Proses ini penting untuk mengetahui kondisi awal dataset sebelum dilakukan pengolahan lebih lanjut.

Langkah kedua adalah melakukan pembersihan dan persiapan data data preparation. Tahap ini mencakup konversi kolom nilai penjualan menjadi numerik dengan menghapus simbol mata uang, serta mengubah kolom tanggal menjadi format datetime agar dapat dianalisis berdasarkan periode waktu. Jika ditemukan inkonsistensi atau nilai yang tidak relevan, maka akan dilakukan penyesuaian agar data menjadi lebih rapi dan siap dianalisis.